<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="/static/css/Homepage.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Hompepage</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" /> </head>

<body>
	<header class="main-header dark-theme">
		<ul class="header-options"> <img src="/static/img/logo2.png" height="85" width="150" align="left">
			<li class="option"><a href="/"> Home </a></li>
			<li class="option"><a href="{%url 'aboutus_home'%}"> About Us </a></li>
			<li class="option"><a href="{%url 'chatbot_home'%}"> Fakenews Bot </a></li>
		</ul>
	</header>
	<div class="slideshow-container">
		<div class="mySlides fade"> <img src="/static/img/1.png" style="max-width:100%;max-height: 100%"> </div>
		<div class="mySlides fade"> <img src="/static/img/2.png" style="max-width:100%;max-height: 100%"> </div>
		<div class="mySlides fade"> <img src="/static/img/3.png" style="max-width:100%;max-height: 100%"> </div> <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a> </div>
	<div style="text-align:center"> <span class="dot" onclick="currentSlide(1)"></span> <span class="dot" onclick="currentSlide(2)"></span> <span class="dot" onclick="currentSlide(3)"></span> <span class="dot" onclick="currentSlide(4)"></span> <span class="dot" onclick="currentSlide(5)"></span> <span class="dot" onclick="currentSlide(6)"></span> </div>
	<main>
		<div class="containe">
			<div class="row">
				<div class="column-66">
					<h1 id="top1" class="xlarge-font" style="color: #c0935c;"><b>What is Fake News?</b></h1>
					<br>
					<p style="font-size:23px; text-align: center; color: white; font-family: 'Montserrat', sans-serif;font-weight: 800;">“Fake news” is a term that has come to mean different things to different people. At its core, we are defining “fake news” as those news stories that are false: the story itself is fabricated, with no verifiable facts, sources or quotes. Sometimes these stories may be propaganda that is intentionally designed to mislead the reader, or may be designed as “clickbait” written for economic incentives (the writer profits on the number of people who click on the story). In recent years, fake news stories have proliferated via social media, in part because they are so easily and quickly shared online. </p>
				</div>
				<div class="column-33"> <img src="/static/img/x111.png" width="400" height="400"> </div>
			</div>
		</div>
		<div class="containe1">
			<div class="row">
				<div class="column-33"> <img src="/static/img/x12.png" alt="App" width="400" height="450"> </div>
				<div class="column-66">
					<h1 id="top2" class="xlarge-font" style="color:#c0935c;"><b>Why to detect Fake news ?</b></h1>
					<br>
					<p style="font-size:23px; text-align: center; ; color: white ;font-family: 'Montserrat', sans-serif;font-weight: 800;"> In recent years, however, fake news has been responsible for a great deal of misinformation because more and more people have begun consuming and believing these articles without bothering to fact check or even read beyond the headlines. This acceptance of incorrect information has led to confusion, panic, and an inability to discuss the actual facts surrounding current events. </p>
				</div>
			</div>
		</div>
	</main>
	<div class="timeline1" id="section3">
		<h1 id="top3">
       CAUSES
    </h1> </div>
	<div class="timeline">
		<div class="container left">
			<div class="content">
				<h3 style="font-size:23px; text-align: center; ; color: white ;font-family: 'Montserrat', sans-serif;font-weight: 800;">Change in Public Opinion</h3> </div>
		</div>
		<div class="container right">
			<div class="content">
				<h3 style="font-size:23px; text-align: center; ; color: white ;font-family: 'Montserrat', sans-serif;font-weight: 800;">Defamation is among the disadvantages of fake news.</h3> </div>
		</div>
		<div class="container left">
			<div class="content">
				<h3 style="font-size:23px; text-align: center; ; color: white ;font-family: 'Montserrat', sans-serif;font-weight: 800;">False Perception</h3> </div>
		</div>
		<div class="container right">
			<div class="content">
				<h3 style="font-size:23px; text-align: center; ; color: white ;font-family: 'Montserrat', sans-serif;font-weight: 800;">Fake News may lead to Social Unrest</h3> </div>
		</div>
		<div class="container left">
			<div class="content">
				<h3 style="font-size:23px; text-align: center; ; color: white ;font-family: 'Montserrat', sans-serif;font-weight: 800;">Fake news articles can be entry points for hackers attempting to steal your information.</h3> </div>
		</div>
	</div>
	<div class="sol1" id="top4">
		<h1>
       How to Spot Fake News
    </h1>
		<p style="font-size:23px; text-align: center; color: white; font-family: 'Montserrat', sans-serif;font-weight: 800;">Most effective way is to only trust something once you can verify it. In today’s fast-paced world of social media, fake news surrounds us every day. If you are not careful, you run the risk of believing and acting upon it.
			<br>
			<br>Supporting Sources: Look at the sources cited in the article. Are they themselves credible? Do they even exist?
			<br>
			<br>Multiple Sources: Don’t just rely on a single article. The more you read from various sources, the more likely you can draw accurate conclusions. Also consider diverse sources and perspectives, for example, news from different countries or authors with different backgrounds.
			<br>
			<br>Check the Author: Who is the author? Research them to see if they are a credible author, their reputation in the community, whether they have a specific agenda, or if the person posting is a real person. Are they authoring within their field of expertise?
			<br>
			<br>Check the Funding: Even legitimate publications have sponsors and advertisers who can influence an article or source. Check if someone funded the article and if so, find out who paid for it.
			<br>
			<br>Repost carefully: Fake news relies on believers to repost, retweet, or otherwise forward false information. If you’re uncertain as to the authenticity of an article, think twice or hold off on sharing it with others.
			<br>
			<br>
		</p>
	</div>
	<div class="end">
		<footer>
			<div class="footer-content">
				<h3>searchtrue</h3>
				<p>Breaking Fake !</p>
				<p> Contact us at searchtrueforbreakingfake@gmail.com </P>
			</div>
			<div class="footer-bottom">
				<p>copyright &copy;2022 searchtrue.</p>
			</div>
		</footer>
	</div>
</body>

</html>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
	showSlides(slideIndex += n);
}

function currentSlide(n) {
	showSlides(slideIndex = n);
}

function showSlides(n) {
	var i;
	var slides = document.getElementsByClassName("mySlides");
	var dots = document.getElementsByClassName("dot");
	if(n > slides.length) {
		slideIndex = 1
	}
	if(n < 1) {
		slideIndex = slides.length
	}
	for(i = 0; i < slides.length; i++) {
		slides[i].style.display = "none";
	}
	for(i = 0; i < dots.length; i++) {
		dots[i].className = dots[i].className.replace(" activee", "");
	}
	slides[slideIndex - 1].style.display = "block";
	dots[slideIndex - 1].className += " activee";
}
</script>
</body>

</html>